.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  &-card {
    width: 155px;
    height: 110px;
    margin-bottom: 10px;
    background: linear-gradient(8.46deg, #46a487 -0.58%, #46d7ab 108.38%);
    border-radius: 15px;
    display: flex;
  }

  &-imgPoke {
    width: 76px;
    height: 71px;
  }
}

.pokeList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  &-pokeImg {
    width: 80px;
    height: 70px;
  }
}
