.render {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}
.containerPoke {
  position: relative;
  &-card {
    margin: 0 10px 10px 0;
    &:nth-child(even) {
      margin: 0;
    }
    width: 155px;
    height: 110px;
    background-color: #46a487;
    border-radius: 15px;
    -webkit-box-shadow: 0px 10px 13px -7px rgb(146, 146, 146),
      5px 5px 15px 5px rgba(79, 183, 150, 0);
    box-shadow: 0px 10px 13px -7px rgb(146, 146, 146),
      5px 5px 15px 5px rgba(79, 184, 150, 0);
    background-image: url("../../../../public/svg/card.svg");
    background-repeat: no-repeat;
    background-position: top 37px left 78px;
  }
  &-pokeInfo {
    display: flex;
    justify-content: space-between;
    padding: 0 7px 0 16px;
    font-size: 14px;

    &:nth-child(1) {
      padding-top: 10px;
      line-height: 10px;
      color: #3e8570;
      /* opacaty ta invadindo as outras classes */
    }
  }
  &-pokeName {
    padding-top: 14px;
    text-transform: capitalize;
    color: #ffffff;
    line-height: 14px;
  }

  &-content {
    display: flex;
  }
  &-type {
    display: flex;

    flex-direction: column;
    padding: 0 16px 5px;
    text-align: center;
    min-width: 43px;
  }
  &-typeStyle {
    background: #ffffff4a;

    border-radius: 38px;
  }

  &-typeName {
    font-size: 8px;
    line-height: 28px;
  }
  &-pokeImg {
    width: 80px;
    height: 70px;
  }
}

.pokeColor {
  &--green {
    background-color: #46a487;
  }
  &--red {
    background-color: #fb6c6c;
  }
  &--blue {
    background-color: #46c5d7;
  }
  &--yellow {
    background-color: linear-gradient(
      8.46deg,
      #468da4 -0.58%,
      #46d7ab 108.38%,
      #46c5d7 108.38%
    );
  }
  &--brown {
    background-color: #b1736c;
  }
  &--purple {
    background: linear-gradient(8.46deg, #46a487 -0.58%, #46d7ab 108.38%);
  }
  &--pink {
    background-color: pink;
  }
  &--bug {
    background-color: #a8b820;
  }
  &--yellow {
    background: #ffdc7d
      /* linear-gradient(8.46deg, #46a487 -0.58%, #46d7ab 108.38%) */;
  }
}
